@if(control){

<mat-form-field class="w-full">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    appOnlyNumericValue
    type="text"
    [formControl]="control"
    [placeholder]="placeholder | translate"
    [attr.min]="min"
  />
  @if(control.hasError('required')){
  <mat-error>
    {{
      "EMPLOYEE_FORM.INPUT_REQUIRED" | translate : { label: label | translate }
    }}
  </mat-error>
  } @if(control.hasError('min')){
  <mat-error> {{ label }} must be {{ min ?? "non-negative" }} </mat-error>
  }
</mat-form-field>
}
