<app-page-header-wrapper-component [title]="'EMPLOYEE_DETAIL.TITLE'">
  <!-- employee detail content -->
  @if(loading){

  <app-loading-component></app-loading-component>
  } @if(error){

  <app-error-component
    [error]="'Failed to fetch the employee'"
  ></app-error-component>
  }
  <!-- Employee Details -->
  @if(employee){
  <mat-card class="p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <p class="font-medium">
          {{ "DASHBOARD.TABLE.COLUMNS.NAME" | translate }}:
        </p>
        <p>{{ employee.name }}</p>
      </div>

      <div>
        <p class="font-medium">
          {{ "DASHBOARD.TABLE.COLUMNS.DEPARTMENT" | translate }}:
        </p>
        <p>{{ employee.department | translate }}</p>
      </div>

      <div>
        <p class="font-medium">
          {{ "DASHBOARD.TABLE.COLUMNS.ROLE" | translate }}:
        </p>
        <p>{{ employee.role | translate }}</p>
      </div>

      <div>
        <p class="font-medium">
          {{ "DASHBOARD.TABLE.COLUMNS.SALARY" | translate }}:
        </p>
        <p>{{ employee.salary | nepaliCurrency }}</p>
      </div>

      <div class="md:col-span-2">
        <p class="font-medium">
          {{ "DASHBOARD.TABLE.COLUMNS.JOINING_DATE" | translate }}:
        </p>
        <p>{{ employee.joiningDate | date }}</p>
      </div>
    </div>
  </mat-card>
  } @else{
  <p class="text-center text-gray-500 mt-6">No employee details found.</p>
  }
</app-page-header-wrapper-component>
