<div>
  @if(employeeForm){

  <form
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
    class="space-y-6"
    [appFocusInvalid]="employeeForm"
    appAutoFocusInput
  >
    <!-- Full Name -->
    <app-input-text-component
      [label]="'Full Name'"
      [placeholder]="'Enter Full Name'"
      [type]="'text'"
      [control]="full_name"
    ></app-input-text-component>

    <!-- Department -->
    <app-input-select-component
      [control]="department"
      [placeholder]="'Choose department'"
      [options]="departmentOptions"
      [label]="'Department'"
    ></app-input-select-component>

    <!-- Role -->
    <app-input-text-component
      [label]="'Role'"
      [placeholder]="'Enter Role'"
      [type]="'text'"
      [control]="role"
    ></app-input-text-component>

    <!-- salary -->
    <app-input-number-component
      [label]="'Salary'"
      [placeholder]="'Enter salary'"
      [control]="salary"
      [min]="0"
    ></app-input-number-component>

    <!-- Joining Date -->
    <app-input-date-component
      [label]="'Joining Date'"
      [placeholder]="'Pick joining Date'"
      [control]="joiningDate"
    ></app-input-date-component>

    <!-- Buttons -->
    <div class="flex justify-end space-x-4">
      @if(mode==='add'){

      <button mat-stroked-button color="warn" type="button" (click)="onReset()">
        {{ reset | translate }}
      </button>

      }
      <button mat-raised-button color="primary" type="submit">
        {{ (mode === "add" ? save : update) | translate }}
      </button>
    </div>
  </form>
  }
</div>
